/*
Mitchell Harris
6-5-22
UAT Space Program-We Have SOUND!
*/

/*my cool background design--im a teacher*/
body {
    background-image: url("spacebackground.jpg");
	background-color: #cccccc;
}





